body {
    font-family: Arial, sans-serif;
    background-color: #11d833;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #ffffff;
}

form {
    background: #fbff23;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    background-color: #828485;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}
